@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  text-align: center;
  color: #1C1C1C;
}
a {
  text-decoration: none;
  color: #1C1C1C;
}
header,
.section {
  border-bottom: 1px solid #1C1C1C;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #FFFFFB;
}
footer {
  padding: 12px 0;
  font-size: 1.6rem;
}
.github {
  top: 0;
  right: 0;
  margin: 20px 40px;
  position: fixed;
}
.nav {
  top: 0;
  right: 0;
  margin: 20px 40px;
  position: fixed;
}
.nav li {
  display: inline-block;
}
.logo {
  top: 0;
  left: 0;
  margin: 20px 40px;
  width: 160px;
}
.logo a {
  width: inherit;
  height: 40px;
  color: #1C1C1C;
}
.logo a p {
  width: inherit;
  margin: 0;
}
.logo a img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  vertical-align: middle;
}
.logo a span {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  vertical-align: middle;
}
.section {
  padding: 30px;
  font-size: 2.6rem;
}
.section h2 {
  font-size: 3.6rem;
  font-weight: normal;
  margin: 0 auto;
}
.section p {
  margin: 0;
}
.section .title {
  max-width: 400px;
  margin: 100px auto 20px;
  animation: appearence 1.5s forwards;
}
.section.yellow {
  background-color: #F9BF45;
  color: #FFFFFB;
}
.section.black {
  background-color: #656765;
  color: #FFFFFB;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .products {
    flex-direction: column;
  }
}
.products .product {
  margin-top: 10px;
  margin-bottom: 20px;
}
.products .product img {
  background: #F9BF45 linear-gradient(rgba(255, 255, 255, 0.1), transparent);
  max-width: 300px;
  transform: scale(0.9);
  transition: 0.5s;
}
.products .product img:hover {
  transform: scale(1);
}
.members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .members {
    flex-direction: column;
  }
}
.members .member img {
  max-width: 160px;
}
@keyframes appearence {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
